<div>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="https://apprecs.org/ios/images/app-icons/256/8d/1231429261.jpg" width="40" height="40" class="d-inline-block align-top" alt="">
            CM
        </a>
        <div class="d-flex justify-content-end">
            <a class="btn btn-secondary" href="/login">Login</a>
            <a class="btn btn-secondary ml-2" href="/signup">Sign up</a>
        </div>
    </nav>
</div>