<%- include('../partials/header.ejs') %>
</head>
<body>
    <%- include('../partials/navigation.ejs') %>

    <div style="display: none;"> 
      <div class="form-group dynamic-element d-flex justify-content-start mt-2" >
              <input type="number" class="mymobile form-control mr-2" name="mobile">
              <button class="delete btn btn-danger py-0 m-0"><h4>x</h4></button>
      </div>
    </div>
  
  <div class="myform-container">
    <form class="form-horizontal" method="POST" action="/contacts">
    <fieldset>
    <!-- Form Name -->
    <legend class="title">Create New Contact</legend>
    <div class="d-flex form-field-width">
      <h6 class="mr-2 py-2">Name: </h6>
      <input type="text" class="form-control" name="name" placeholder="Contact name">
    </div>
    <div class="d-flex align-items-baseline">
      <h6 class="mr-2 py-3">Mobile: </h6>
      <div class="dynamic-stuff">
        <!-- Dynamic element will be cloned here -->
      </div>
    
      <p class="add-one btn btn-success ml-4 mt-auto mb-0">+ Add</p>
    </div>

    <div class="d-flex form-field-width mt-2">
      <h6 class="mr-2 py-2">Email: </h6>
      <input type="email" class="form-control" name="email" placeholder="example@exm.com">
    </div>

    <div class="d-flex justify-content-center">
      <input type="submit" class="btn btn-primary w-25" value="Create">
    </div>

  </fieldset>
  </form>
  </div>
    <%- include('../partials/footer.ejs') %>
